
            <div>
                <h2>Contact Me</h2>



                <form target="_blank" action="https://formsubmit.co/ruben@puertacordoba.com" method="POST">

                  <label for="name">Name:</label>
               
                  <input type="text" name="name" id="name" required>

                  <label for="email">Email:</label>
                  <input type="email" name="email" id="email" required>

                  <label for="message">Message:</label>
                  <textarea name="message" id="message" cols="30" rows="10"></textarea>

                  <button type="submit">Send Messsage</button>
                </form>
              </div>
