
            <div class="container">
                <h1>FormSubmit Demo</h1>



                <form target="_blank" action="https://formsubmit.co/ruben@puertacordoba.com" method="POST">

                  <label for="name">Name:</label>
               
                  <input type="text" name="name" id="name" required>

                  <label for="email">Email:</label>
                  <input type="email" name="email" id="email" required>

                  <label for="message">Message:</label>
                  <textarea name="message" id="" cols="30" rows="10"></textarea>

                  <button type="submit">Send</button>
                </form>
              </div>
