
            <div>
                <h2>Contact Me</h2>

                <form target="_blank" action="#" method="POST" #contactFormInput>

                  <label for="name">Name:*</label>
               
                  <input type="text" name="name" id="name" minlength="1"  required>

                  <label for="email">Email:*</label>
                  <input type="email" name="email" id="email" minlength="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                  <label for="message">Message:*</label>
                  <textarea name="message" id="message" cols="30" rows="10" minlength="1" required></textarea>

                  <button id="sb-btn" (click)="checkme(contactFormInput, $event)" #submitButton>Send Messsage</button>
                </form>
                
              </div>
