form{
    display: grid;
    max-width: 500px;
    margin:auto
}
h2{

    margin: 20px auto;
    width: 150px;
}
textarea{
    padding: 5px;
}

button{
    margin-top: 10px;
    height: 50px;
    font-family: Digital;
    font-size: 20px;

}
button:hover{
    background-color: #4ec9b0;
    color: white;
}