

    <h2> Portfolio</h2>
    <p>Explore some of my projects/mockups and feel free to connect with me!</p>



  <section>
    <a href="https://addons.mozilla.org/es/firefox/addon/templateasy/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/templateasy.png" alt="TemplateEasy ">
        <h3>TemplateEasy (Firefox Addon)</h3>
      </div>
    </a>

    <a href="https://chromewebstore.google.com/detail/templateasy/kobfphnfdonfalajohoembfkfdamcbmp" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/templateasy.png" alt="TemplateEasy ">
        <h3>TemplateEasy (Chrome Addon)</h3>
      </div>
    </a>

    <a href="https://melodious-syrniki-82598f.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/order.png" alt="Angular Order Management System">
        <h3>Angular Order Management System (Job Interview Mockup)</h3>
      </div>
    </a>

    <a href="https://hungry-leakey-d83831.netlify.app/index.html" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/madeOfHeaven.JPG" alt="Music Group Website">
        <h3>Music Group Website (University Task)</h3>
      </div>
    </a>

    <a href="https://competent-lamarr-8bb366.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/chuck.png" alt="Fan Club Website">
        <h3>Fan Club Website (University Task)</h3>
      </div>
    </a>

    <a href="https://jolly-engelbart-81f638.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/ngo.png" alt="NGO Website">
        <h2>NGO Website (University Task)</h2>
      </div>
    </a>

    <a href="https://hopeful-swartz-0a258a.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/reading.png" alt="Reading Club">
        <h3>Reading Club (University Task)</h3>
      </div>
    </a>

    <a href="https://jolly-khorana-828d26.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/api.png" alt="University API Project">
        <h3>Connect to Public API (University Task)</h3>
      </div>
    </a>

    <a href="https://serene-yonath-090dc5.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/clone.png" alt="Template-Based Website">
        <h3>Template-Based Website  (University Task)</h3>
      </div>
    </a>

    <a href="https://glittery-sunshine-a2a3c5.netlify.app/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/cz.png" alt="CzechiaSlovakia.com ">
        <h3>CzechiaSlovakia.com (Work In Progress)</h3>
      </div>
    </a>

    <a href="https://www.puertacordoba.com/" target="_blank">
      <div class="project">
        <img src="../../../assets/media/portfolio/porfolio.png" alt="Personal Portfolio">
        <h3>Personal Portfolio</h3>
      </div>
    </a>

  </section>
