<header>
<a  (click)="toggleMenu()" >  <mat-icon class="hamburguer">{{hamburguer}}</mat-icon></a>


<div>
    <a  routerLink="/" routerLinkActive="active"> <h1>PuertaCordoba.com</h1></a>
 </div>


 <div id="headerMenu">
     <ul>
  
        <li>
            <a href="../../assets/files/Ruben Puerta.pdf" target="_blank"><p>Résumé</p></a>
        </li>
        <!-- <li>
            <a routerLink="portfolio" routerLinkActive="active"><p>Portfolio</p></a>
        </li> -->
  
        <li>
            <a routerLink="contact" routerLinkActive="active"><p>Contact</p></a>
        </li>
        
        <li>   
            
        <ul class="icons">
            <li><a href="https://github.com/Neburniek" target="_blank"><ion-icon name="logo-github" class="github-i"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/in/rubenpuerta/" target="_blank"><ion-icon class="linkedin-i" name="logo-linkedin"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/neburniek/" target="_blank"><ion-icon name="logo-instagram" class="instagram-i"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/ruben.puertacordoba/" target="_blank"><ion-icon name="logo-facebook" class="facebook-i"></ion-icon></a></li>
           
        </ul>

        </li>

    
     </ul>
 </div>
</header>
<nav [class.open]="openMenu">
    <ul>
        <li>
            <a href="#" (click)="toggleMenu()"><p>Résumé</p></a>
        </li>
        <!-- <li>
            <a routerLink="portfolio" routerLinkActive="active" (click)="toggleMenu()"><p>Portfolio</p></a>
        </li> -->

        <li>
            <ul class="icons">
                <li><a href="https://github.com/Neburniek" target="_blank"><ion-icon name="logo-github" class="github-i"></ion-icon></a></li>
                <li><a href="https://www.linkedin.com/in/rubenpuerta/" target="_blank"><ion-icon class="linkedin-i" name="logo-linkedin"></ion-icon></a></li>
                <li><a href="https://www.instagram.com/neburniek/" target="_blank"><ion-icon name="logo-instagram" class="instagram-i"></ion-icon></a></li>
                <li><a href="https://www.facebook.com/ruben.puertacordoba/" target="_blank"><ion-icon name="logo-facebook" class="facebook-i"></ion-icon></a></li>
               
            </ul>
        </li>
    </ul>
    </nav>

<canvas [class.canvas]="openMenu" (click)="toggleMenu()"></canvas>