header {
  display: inline-flex;
  width: 100vw;
}
header a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 18px;
  position: relative;
  font-family: Digital;
  top: -40%;
  left: 10%;
}

a h1 {
  color: #525252;
}

nav {
  position: absolute;
  left: 0;
  height: 96%;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: width 1s;
  background-color: #525252;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 3;
}

nav ul {
  list-style: none;
  margin: auto;
  height: 100%;
}
nav ul li {
  height: 10%;
}

nav.open {
  width: 80%;

  transition: width 1s;
}
a {
  color: #4ec9b0;
}

a:hover {
  color: #9cdcfe;
}
a:active {
  color: #c586c0;
}

nav ul li a {
  text-decoration: none;
  color: #9cdcfe;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  text-align: center;
}

nav ul li a p {
  margin: auto;
}
nav ul li .icons {
  display: inline-flex;
  text-align: center;
  margin: auto;
  margin-left: 25%;
  width: 50%;
  position: relative;
}

nav ul li .icons li {
  background-color: rebeccapurple;
  margin: auto;
}

.hamburguer:active {
  color: #c586c0;

  -webkit-animation: spin 0.2s linear infinite;
  -moz-animation: spin 0.2s linear infinite;
  animation: spin 0.2s linear infinite;
}

nav ul li a:hover {
  color: #4ec9b0;
}
nav ul li a:active {
  color: #c586c0;
}

canvas {
  position: absolute;
}
.canvas {
  background-color: #525252;
  opacity: 60%;
  left: 10px;
  width: 100%;
  height: 105%;
  position: absolute;
  z-index: 2;
  transition: 5s;
  border-bottom-right-radius: 20px;
}

#headerMenu {
  display: none;
}

a h1:hover {
  color: #4ec9b0;
}

a h1:active {
  color: #c586c0;
}

#headerMenu ul li .icons li a {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

#headerMenu ul li .icons {
  position: relative;
  padding: 0;
  margin: 0;
  width: 200px;
}

.facebook-i {
  color: #3b5998;
  background-color: white;
  border-radius: 50%;
}
.instagram-i {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: white;
  border-radius: 25%;
}
.linkedin-i {
  color: #0e76a8;
  background-color: white;
  border-radius: 10%;
}
.github-i {
  color: #211f1f;
  background-color: white;
  border-radius: 50%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  nav.open {
    width: 25%;
    max-width: 200px;
  }
}
@media (min-width: 800px) {
  #headerMenu {
    display: block;
    position: relative;
    left: 10%;
    width: 50%;
  }

  #headerMenu ul {
    display: inline-flex;
    padding: 5px;
    justify-content: space-around;
    width: 100%;
    list-style: none;
  }

  h1 {
    font-size: 25px;
  }

  .canvas {
    display: none;
  }

  nav.open {
    display: none;
  }
  .hamburguer {
    display: none;
  }
}
