
    <section>
    <section>
        <img class="profileImage" src="../../../assets/media/Captura 1.JPG" alt="Ruben Puerta">
    </section>

        <section id="about">
            <h2>About me</h2>
          <p>Hi, I'm Rubén Puerta, a Full Stack Developer with a passion for building efficient, scalable, and user-friendly applications.</p>

          <p>I started my journey teaching myself how to create websites using WordPress. As my curiosity grew, I dove deeper into frontend and backend development, specializing in modern technologies such as Angular, Node.js, and Spring Boot (Kotlin). Later on, I formalized my knowledge by pursuing a Master's degree in Web Development from the "Universitat Oberta de Catalunya" (UOC), where I graduated.</p>

          <p>Since then, I've been working on creating digital solutions that enhance user experiences, streamline processes and delivering high-quality, performant applications.</p>

          <p>Explore my <a href="https://github.com/rpuertaco" target="_blank">GitHub</a> to see more of my work and let’s connect if you’re interested in collaborating or discussing new opportunities!
          </p>

                 <p>I build some small projects such as ¨Templateasy¨( Available for
                     <a target="_blank" href="https://chrome.google.com/webstore/detail/templateasy/kobfphnfdonfalajohoembfkfdamcbmp">Chrome</a>
                     and <a target="_blank" href="https://addons.mozilla.org/es/firefox/addon/templateasy/">Firefox</a> ) a tool for office employees
                      to easily save on their browser email templates.
                 </p>


        </section>

    </section>

  <section class="skills">
    <h2>Skills</h2>

    <div class="skill-category">
      <h3>Frontend</h3>
      <ul class="skillList">
        <li class="skill html">
          <p>HTML</p>
          <ion-icon name="logo-html5"></ion-icon>
        </li>
        <li class="skill css">
          <p>CSS</p>
          <ion-icon name="logo-css3"></ion-icon>
        </li>
        <li class="skill js">
          <p>JavaScript</p>
          <ion-icon name="logo-javascript"></ion-icon>
        </li>
        <li class="skill ts">
          <p>TypeScript</p>
          <i class="fab fa-solid fa-t"></i>
        </li>

        <li class="skill angular">
          <p>Angular</p>
          <ion-icon name="logo-angular"></ion-icon>
        </li>
        <li class="skill sass">
          <p>Sass</p>
          <ion-icon name="logo-sass"></ion-icon>
        </li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Backend</h3>
      <ul class="skillList">
        <li class="skill node">
          <p>Node JS</p>
          <ion-icon name="logo-nodejs"></ion-icon>
        </li>
        <li class="skill kotlin">
          <p>Kotlin</p>
          <ion-icon name="code-slash-outline"></ion-icon>
        </li>
        <li class="skill springboot">
          <p>Spring Boot</p>
       <ion-icon name="power-outline"></ion-icon>
        </li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Databases</h3>
      <ul class="skillList">
        <li class="skill postgresql">
          <p>PostgreSQL</p>
          <ion-icon name="server-outline"></ion-icon>
        </li>
        <li class="skill mssql">
          <p>MicrosoftSQL</p>
          <ion-icon name="logo-windows"></ion-icon>
        </li>
        <li class="skill mongodb">
          <p>MongoDB</p>
          <ion-icon name="leaf-outline"></ion-icon>
        </li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Tools</h3>
      <ul class="skillList">
        <li class="skill git">
          <p>Git</p>
          <ion-icon name="logo-github"></ion-icon>
        </li>
        <li class="skill aws">
          <p>AWS S3</p>
          <ion-icon name="cloud-outline"></ion-icon>
        </li>
        <li class="skill docker">
          <p>Docker</p>
          <ion-icon name="logo-docker"></ion-icon>
        </li>
      </ul>
    </div>
  </section>




  <app-education></app-education>
  <app-portfolio></app-portfolio>
  <app-contact></app-contact>


