
li{
  list-style: none;
}
p {
  text-align: justify;
  margin-top: 20px;
}
.profileImage {
  min-width: 200px;
  width: 40%;
  max-width: 300px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 10px 10px 5px lightblue;
}

#about{
  max-width: 70vw;
  margin:auto;
}

/* SKill List section */

.skillList {
  display: inline-flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 620px;
}


.skill {
  width: 200px;
  text-align: center;
  margin: 20px auto;
  list-style: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.skill p {
  margin: auto;
  text-align: center;
  font-weight: 800;
}
.skill ion-icon {
  font-size: 50px;
}
.skill i {
  font-size: 50px;
}

.skill:hover {
  transform: scale(1.1);
  background-color: #e6f7ff;
}

/* Skills Icons */

.html ion-icon {
  color: #f06529;
}
.css ion-icon {
  color: #2965f1;
}
.js ion-icon {
  color: #f0db4f;
  background-color: #323330;
}
.angular ion-icon {
  color: #b52e31;
}
.node ion-icon {
  color: #68a063;
}
.mongodb ion-icon {
  color: green;
}
.docker ion-icon {
  color: dodgerblue;
}
.aws ion-icon {
  color: orange;
}
.mssql ion-icon {
  color: dodgerblue;
}
.sass ion-icon {
  color: #cc6699;
}
.postgresql ion-icon {
  color: #0e76a8;
}
.kotlin ion-icon {
  color: #833ab4;
}
.springboot ion-icon {
color: springgreen;
}
.ts i {
  color: #0e76a8;
}
.php i {
  color: #232531;
}
.git i {
  color: #f34f29;
}
