<div id="main">
    <section>
    <section>
        <img src="../../../assets/media/Captura 1.JPG" alt="Ruben Puerta">
    </section>

        <section>    
            <h2>About me</h2>
            <p>Hi, I am Rubén Puerta and I love building things on the
                 internet. 
                </p>
            <p> I started coding in 2018, learning by myself,  trying to set a wordpress website on my own domain.
                    Later on, I realized that I needed
                    some CSS skills in order to modify certain 
                    sections of the website, so I decided to dive deep
                     and started doing some courses
                     on Udemy and on February 2020 I decided to be fully dedicated into
                     this journey and joined the "Universitat Oberta de Catalunya" (UOC)
                     in order to learn how to code profesionally until January 2022 
                     when I succesfully finished my Master Degree on Web app and website development.
        
                 </p>
        
                 <p>I am the proud creator of some small projects such as ¨Templateasy¨( Available for 
                     <a target="_blank" href="https://chrome.google.com/webstore/detail/templateasy/kobfphnfdonfalajohoembfkfdamcbmp">Chrome</a> 
                     and <a target="_blank" href="https://addons.mozilla.org/es/firefox/addon/templateasy/">Firefox</a> ) a tool for office employees
                      to easily save on their browser email templates or data and I am currently working on a very promising project called <a target="_blank" href="http://gastrolinked-test-server.herokuapp.com/">Gastrolinked</a> 
                     where restaurants could register and digilatize their ordering system.
                 </p>
        
    
        </section>

    </section>
    
            <section>
                <h3>Skills</h3>
                <ul class="skillList">
                    <li class="skill html"><p>HTML</p><ion-icon name="logo-html5"></ion-icon></li>
                    <li class="skill css"><p>CSS</p><ion-icon name="logo-css3"></ion-icon></li>
                    <li class="skill js"><p>Javascript</p><ion-icon name="logo-javascript"></ion-icon></li>
                    <li class="skill angular"><p>Angular</p><ion-icon name="logo-angular"></ion-icon></li>
                    <li class="skill node"><p>Node JS</p><ion-icon name="logo-nodejs"></ion-icon></li>
                    <li class="skill sass"><p>Sass</p><ion-icon name="logo-sass"></ion-icon></li>
                    <li>And other technologies such as PHP, GIT,  Jest, Parcel, Webpack, MongoDB, MariaDB...</li>
                </ul>
                
            </section>




              <app-contact></app-contact>
</div>

