

<h2>Formal Education</h2>

<section>
    <div class="course">
      <img src="https://www.uoc.edu/portal/system/modules/edu.uoc.presentations/resources/img/branding/logo-footer.png" alt="Web Development and Applications ">
      <h3>Master's Degree in Web Development and Applications</h3>
    </div>
</section>

<h2>Courses</h2>

<section>
  <a href="https://www.udemy.com/certificate/UC-e40b2710-9fc4-4a86-a540-57e8330e6b8d/" target="_blank">
    <div class="course">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-e40b2710-9fc4-4a86-a540-57e8330e6b8d.jpg?v=1597320120000" alt="Web
Developer Bootcamp ">
      <h3>The Web
        Developer Bootcamp</h3>
    </div>
  </a>
  <a href="https://skillsoft.digitalbadges.skillsoft.com/1db910ff-c34f-40cf-93e1-7fd57b7f8166#gs.ensrx7" target="_blank">
    <div class="course">
      <img src="../../../assets/media/education/AI1.png" alt="Artificial Intelligence: Basic AI Theory ">
      <h3>Artificial Intelligence: Basic AI Theory</h3>
    </div>
  </a>
  <a href="https://www.udemy.com/certificate/UC-5526ff73-b5a0-4299-871f-74966bfe9717/" target="_blank">
    <div class="course">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-5526ff73-b5a0-4299-871f-74966bfe9717.jpg?v=1597944462000" alt="Javascript Intermediate level 1 - Mastering the
DOM ">
      <h3>Javascript Intermediate level 1 - Mastering the
        DOM</h3>
    </div>
  </a>
  <a href="https://www.udemy.com/certificate/UC-fe72dd73-b9b0-4e6f-8a01-f6251669f054/" target="_blank">
    <div class="course">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-fe72dd73-b9b0-4e6f-8a01-f6251669f054.jpg?v=1597997288000" alt="Javascript Intermediate level 2 - All about
functions ">
      <h3>Javascript Intermediate level 2 - All about
        functions</h3>
    </div>
  </a>
  <a href="https://www.udemy.com/certificate/UC-aad034ae-9c5e-4cdb-a49f-d0aef601d90f/" target="_blank">
    <div class="course">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-aad034ae-9c5e-4cdb-a49f-d0aef601d90f.jpg?v=1598032633000" alt="Javascript Intermediate level 3 - JSON">
      <h3>Javascript Intermediate level 3 - JSON</h3>
    </div>
  </a>
  <a href="https://www.udemy.com/certificate/UC-e253824a-ab34-4d11-b01d-28237901730f/" target="_blank">
    <div class="course">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-e253824a-ab34-4d11-b01d-28237901730f.jpg?v=1597474670000" alt="Intro To
PHP For Web Development ">
      <h3>Intro To
        PHP For Web Development</h3>
    </div>
  </a>
  <a href="https://www.udemy.com/certificate/UC-f6c1f466-e390-4177-ba9d-5041eae114e8/" target="_blank">
    <div class="course">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-f6c1f466-e390-4177-ba9d-5041eae114e8.jpg?v=1598345211000" alt="Learn
Query for beginners web development ">
      <h3>Learn
        Query for beginners web development</h3>
    </div>
  </a>
</section>
