

h1 {
  font-size: 2.5rem;
  animation: fadeIn 2s ease-in-out;
}

p {
  font-size: 1.2rem;
  margin: 10px 0;
  animation: fadeIn 3s ease-in-out;
}


section {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.course {
  width: 300px;
  height: 350px;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.course img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 200px;
}

.course:hover {
  transform: scale(1.05);
}

a:hover {
  color: #007bff;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
